html, body {
  height: 100%;
}

$soft-blue: #50B4F2;
.background {
  background-color: $soft-blue;
  min-height: 100%;
}

.count-down {
  position: fixed;
  top: 3px;
  right: 3px;
  z-index: 1;
  font-size: 0.9em;
  text-shadow:1px 1px 0 #f27900,-1px 1px 0 #f27900,1px -1px 0 #f27900,-1px -1px 0 #f27900;
}

video {
  width: 100%;
}

.remote-stream {
  position: relative;
  p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
}