<div class="bg-soft-blue">
  <div class="container-md">
    <div class="row p-3">
      <div class="col-md-8">
        <h1 class="display-4 text-white">Enter friend's ID to call.</h1>
      </div>
      <div class="col-md-4">
        <!-- 残り時間のタイマーを表示 -->
        <p id="count-down" class="lead text-white text-right"></p>
      </div>
    </div>
    <div class="row">
      <!-- 自分のカメラ映像を表示するエリア -->
      <div class="local-stream col-md-6 p-0 p-md-3 bg-light rounded">
        <video id="js-local-stream"></video>
        <p class="lead">Your ID: <mark id="js-local-id"></mark></p>
        <div class="form-group">
          <label><span class="badge badge-dark">friend's ID</span></label>
          <input type="text" id="js-remote-id" class="form-control" placeholder="相手のIDを入れてCallしてください">
        </div>
        <div class="row justify-content-end">
          <div class="col-md-3">
            <button id="js-call-trigger" class="btn btn-primary btn-block">Call</button>
          </div>
          <div class="col-md-3 pl-md-0">
            <button id="js-close-trigger" class="btn btn-danger btn-block">Close</button>
          </div>
        </div>
      </div>
      <!-- 相手のカメラ映像を表示するエリア -->
      <div class="remote-stream col-md-6 p-0 p-md-3 bg-dark rounded">
        <video id="js-remote-stream"></video>
      </div>
    </div>
    <p class="text-white text-center p-3" id="js-meta"></p>
  </div>
</div>