<%= javascript_pack_tag 'video_calls/application' %>

<div class="bg-video-chat min-vh-100">
  <div class="container-md pb-3">
    <div class="row p-3 text-light">
      <div>
        <h1 class="display-4">Thank you for coming</h1>
      </div>
      <div>
        <!-- 残り時間のタイマーを表示 -->
        <p id="count-down" class="count-down lead"></p>
      </div>
    </div>
    <div class="row">
      <!-- 自分のカメラ映像を表示するエリア -->
      <div class="local-stream col-md-6 p-0 p-md-2 bg-light rounded">
        <video id="js-local-stream"></video>
        <p class="lead">Your ID: <mark id="js-local-id"></mark></p>
        <div class="form-group">
          <label><span class="badge badge-dark">誰と話しますか？</span></label>
          <select id="js-remote-id" class="custom-select">
            <option selected>--- 選択してください ---</option>
            <% @users.each do |user| %>
              <option value="<%= user.peer_id %>"><%= user.name %></option>
            <% end %>
          </select>
        </div>
        <div class="row justify-content-end">
          <div class="col-md-3">
            <button id="js-call-trigger" class="btn btn-primary btn-block">Call</button>
          </div>
          <div class="col-md-3 my-1 my-md-0 pl-md-0">
            <button id="js-close-trigger" class="btn btn-danger btn-block">Close</button>
          </div>
        </div>
      </div>
      <!-- 相手のカメラ映像を表示するエリア -->
      <div class="remote-stream col-md-6 p-0 p-md-2 bg-dark rounded">
        <video id="js-remote-stream"></video>
        <p id="remote-poster" class="display-4 text-muted">Friend</p>
      </div>
    </div>
  </div>
</div>