.header-contents {
  text-align: center;
  padding: 2.5rem 0;

  h1 {
    font-size: 1.5rem;
    line-height: 1.2;

    span {
      border-bottom: 1px solid #dee2e6;
    }
  }

  small {
    border-bottom: 1px solid #dee2e6;
  }
}